

:root {
    --tyrian-purple: #5f0f40ff;
    --carmine: #9a031eff;
    --ut-orange: #fb8b24ff;
    --spanish-orange: #e36414ff;
    --midnight-green: #0f4c5cff;

    /*blue color scheme*/

    --blue-bayoux-50: #f1f8fa;
    --blue-bayoux-100: #dcedf1;
    --blue-bayoux-200: #bddde4;
    --blue-bayoux-300: #8fc4d1;
    --blue-bayoux-400: #5aa3b6;
    --blue-bayoux-500: #3f879b;
    --blue-bayoux-600: #376e83;
    --blue-bayoux-700: #345f71;
    --blue-bayoux-800: #2f4c5b;
    --blue-bayoux-900: #2b414e;
    --blue-bayoux-950: #192a33;

}
